body {
  font-family: 'Segoe UI', sans-serif;
  background: #f0fdf4;
  margin: 0;
  padding: 0;
}

h1 {
  background: #22c55e;
  color: white;
  padding: 15px;
  margin: 0;
}

#lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.hidden {
  display: none;
}

#detalhes {
  padding: 20px;
}

button {
  background: #22c55e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
